<!DOCTYPE html>
<html ng-app>
<head>
	<title>To-Do con Angular JS NUEVO</title>
	<script src="angular.min.js"></script>
	<style>
		/* Creamos clase para tachar el texto*/ 
		.ok {
			text-decoration: line-through;
		}
	</style>
</head>
<!-- Creamos un array con tareas pregrabadas -->
<body ng-init="tareas = [
		'Limpiar mi cuarto',
		'Cocinar',
		'Ir al gimnasio',
		'Pasear al perro',
		'Cenar'
	]">
<h1>Tareas por hacer</h1>
<!-- Hacemos un repeat para leer el array -->
<p ng-repeat="tarea in tareas" class="{{ check }}">
	<!-- Agregamos un checkbox para marcar tareas -->
	<input type="checkbox" ng-model="check" ng-true-value="'ok'" ng-false-value="''">
	{{ tarea }} {{ check }}
</p>
<!-- Agregamos nuevas tareas -->
<input type="text" ng-model="nuevo"><br>
<button ng-click="tareas.push(nuevo);nuevo = ''">
	Agregar
</button>
</body>
</html>